<br />
<div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ol class="breadcrumb">
                <li><a href="#/reports">OneSource Scheduling</a></li>
                <li><a href="javascript:void(0);">Law Offices</a></li>
                <li class="active"><strong>All</strong></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control input-sm" placeholder="Search" ng-model="q" ng-change="search()">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <a href="#/lawoffices/create" class="btn btn-primary btn-sm pull-right">+ New Record</a>
            <button class="btn btn-success btn-sm pull-right" ng-print print-element-id="printContent"><i class="fa fa-print"></i> Print</button>
            <delete-selected collection="lawoffices"></delete-selected>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="table-responsive" id="printContent">
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                    <tr>
                        <th colspan="10">
                            <span class="text-success">Showing results<span ng-show="checkSearch()"> for <strong>&quot;{{q}}&quot;</strong></span>: {{pagination.from | number: 0}} &mdash; {{pagination.to | number: 0}} of {{pagination.total | number: 0}}</span>
                            <span class="text-success pull-right">Page {{pagination.current_page}} of {{pagination.last_page | number: 0}}</span>
                        </th>
                    </tr>
                    <tr>
                        <th width="5%" style="text-align:center !important;"><check-all></check-all></th>
                        <th width="5%"></th>
                        <th width="5%">ID#</th>
                        <th width="15%">Name</th>
                        <th width="20%">Address</th>
                        <th width="10%">Phone</th>
                        <th width="10%">Email</th>
                        <th width="10%">Contact</th>
                        <th width="20%">Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="lawoffice in lawoffices">
                        <td align="center"><input type="checkbox" class="allchks" value="{{lawoffice.id}}"></td>
                        <td align="center">
                            <a href="#/lawoffices/{{lawoffice.id}}"><i class="fa fa-eye"></i></a>
                        </td>
                        <td>{{lawoffice.id}}</td>
                        <td><a href="#/lawoffices/{{lawoffice.id}}"><strong>{{lawoffice.name}}</strong></a></td>
                        <td><strong>{{lawoffice.name}}</strong>, {{lawoffice.address1}}, {{lawoffice.address2}}, {{lawoffice.city}}, {{lawoffice.zipcode}}</td>
                        <td>{{lawoffice.phone}}</td>
                        <td>{{lawoffice.email}}</td>
                        <td>{{lawoffice.contact}}</td>
                        <td><div ng-bind-html="lawoffice.notes"></div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" ng-if="pagination.last_page > 1">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <nav>
                <ul class="pagination pagination-sm">
                    <li><a ng-click="firstPage()">First</a></li>
                    <li><a ng-click="prevPage()">&larr; Prev</a></li>
                    <li><a ng-click="nextPage()">Next &rarr;</a></li>
                    <li><a ng-click="lastPage()">Last</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>