<div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ol class="breadcrumb">
                <li><a href="#/dashboard">OneSource</a></li>
                <li class="active"><strong>Referrals</strong></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <!-- sidebar -->
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Referral status</h5>
                    <p class="list-group-item-text">
                        <select name="status" id="status" ng-model="data.status" class="form-control input-sm" ng-change="setStatus()">
                            <option value=""></option>
                            <option value="cancelled">Appt. Cancelled</option>
                            <option value="confirmed">Appt. Confirmed</option>
                        </select>
                    </p>
                </li>
                <li class="list-group-item">
                    <h5>Appt. Date</h5>
                    <p class="list-group-item-text">
                    <div class="input-group">
                        <input type="text" readonly value="{{data.appt_mindate | date: 'MM-dd-yy'}} to {{data.appt_maxdate | date: 'MM-dd-yy'}}" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar"></i></button>
                            <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                                <div date-range start="data.appt_mindate" end="data.appt_maxdate"></div>
                            </div>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                    </p>
                </li>
                <li class="list-group-item">
                    <h5>Date of Referral</h5>
                    <p class="list-group-item-text">
                    <div class="input-group">
                        <input type="text" readonly value="{{data.dor_mindate | date: 'MM-dd-yy'}} to {{data.dor_maxdate | date: 'MM-dd-yy'}}" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar"></i></button>
                            <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                                <div date-range start="data.dor_mindate" end="data.dor_maxdate"></div>
                            </div>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                    </p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">Law Offices</h5>
                    <p class="list-group-item-text">
                        <select chosen multiple data-allow_single_deselect="true" ng-model="data.lawoffice" ng-change="addLawOffices()" class="form-control" name="lawoffice_id" id="lawoffice_id"
                                ng-options="obj.id as obj.name for obj in lawoffices">
                            <option value=""></option>
                        </select>
                    </p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">Attorneys</h5>
                    <p class="list-group-item-text">
                        <select chosen multiple data-allow_single_deselect="true" ng-model="data.attorney" ng-change="addAttorneys()" class="form-control" name="attorney_id" id="attorney_id"
                                ng-options="obj.id as obj.name for obj in attorneys">
                            <option value=""></option>
                        </select>
                    </p>
                </li>
            </ul>
            <!-- sidebar -->
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <input type="text" class="form-control input-sm" placeholder="Search for client, attorney, clinic" ng-model="q" ng-change="search()">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <a href="#/referrals/create" class="btn btn-primary btn-sm pull-right"><i class="fa fa-user-plus"></i> New Referral</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <strong>Date of referral</strong> is <strong>from</strong> {{data.dor_mindate | date: 'MM/dd/yy'}} <strong>to</strong> {{data.dor_maxdate | date: 'MM/dd/yy'}}
                    <span class="label label-info">OR</span> <strong>Appt. Date</strong> is <strong>from</strong> {{data.appt_mindate | date: 'MM/dd/yy'}} <strong>to</strong> {{data.appt_maxdate | date: 'MM/dd/yy'}}
                    <span ng-show="hasLawOffices()"><br /><span class="label label-info">AND</span> <strong>Law Offices</strong> in ({{selected_lawoffices}})</span>
                    <span ng-show="hasAttorneys()"><br /><span class="label label-info">AND</span> <strong>Attorneys</strong> in ({{selected_attorneys}})</span>
                    <span ng-if="data.status == 'cancelled' || data.status == 'confirmed'"><br /><span class="label label-info">AND</span> <strong>Appointments are</strong> {{data.status | uppercase}}</span>
                    <br />
                    <br />
                    <p><span class="label label-info">Newly added</span> <span class="label label-warning">Recently edited</span> <span class="label label-success">Appointment confirmed</span> <span class="label label-danger">Appointment cancelled</span></p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-hover">
                            <thead>
                            <tr>
                                <th colspan="10">
                                    <span class="text-success">Showing results<span ng-show="checkSearch()"> for <strong>&quot;{{q}}&quot;</strong></span>: {{pagination.from | number: 0}} &mdash; {{pagination.to | number: 0}} of {{pagination.total | number: 0}}</span>
                                    <span class="text-success pull-right">Page {{pagination.current_page}} of {{pagination.last_page | number: 0}}</span>
                                </th>
                            </tr>
                            <tr>
                                <th width="5%">ID#</th>
                                <th width="10%">
                                    <a href="javascript:void(0);" ng-click="setOrder('date_of_referral')">
                                        Date of Referral
                                        <i ng-show="data.sortBy == 'date_of_referral' && data.sortOrder == 'desc'" class="fa fa-sort-desc"></i>
                                        <i ng-show="data.sortBy == 'date_of_referral' && data.sortOrder == 'asc'" class="fa fa-sort-asc"></i>
                                    </a>
                                </th>
                                <th width="10%">
                                    <a href="javascript:void(0);" ng-click="setOrder('firstname')">
                                        Firstname
                                        <i ng-show="data.sortBy == 'firstname' && data.sortOrder == 'desc'" class="fa fa-sort-desc"></i>
                                        <i ng-show="data.sortBy == 'firstname' && data.sortOrder == 'asc'" class="fa fa-sort-asc"></i>
                                    </a>
                                </th>
                                <th width="10%">
                                    <a href="javascript:void(0);" ng-click="setOrder('lastname')">
                                        Lastname
                                        <i ng-show="data.sortBy == 'lastname' && data.sortOrder == 'desc'" class="fa fa-sort-desc"></i>
                                        <i ng-show="data.sortBy == 'lastname' && data.sortOrder == 'asc'" class="fa fa-sort-asc"></i>
                                    </a>
                                </th>
                                <th width="5%">D.O.B</th>
                                <th width="30%">
                                    <a href="javascript:void(0);" ng-click="setOrder('clinic_name')">
                                        Clinic
                                        <i ng-show="data.sortBy == 'clinic_name' && data.sortOrder == 'desc'" class="fa fa-sort-desc"></i>
                                        <i ng-show="data.sortBy == 'clinic_name' && data.sortOrder == 'asc'" class="fa fa-sort-asc"></i>
                                    </a>
                                </th>
                                <th width="15%">
                                    <a href="javascript:void(0);" ng-click="setOrder('doctor_name')">
                                        Dr. Scheduled with
                                        <i ng-show="data.sortBy == 'doctor_name' && data.sortOrder == 'desc'" class="fa fa-sort-desc"></i>
                                        <i ng-show="data.sortBy == 'doctor_name' && data.sortOrder == 'asc'" class="fa fa-sort-asc"></i>
                                    </a>
                                </th>
                                <th width="5%">
                                    <a href="javascript:void(0);" ng-click="setOrder('appt_date')">
                                        Appt. Date
                                        <i ng-show="data.sortBy == 'appt_date' && data.sortOrder == 'desc'" class="fa fa-sort-desc"></i>
                                        <i ng-show="data.sortBy == 'appt_date' && data.sortOrder == 'asc'" class="fa fa-sort-asc"></i>
                                    </a>
                                </th>
                                <th width="10%">
                                    <a href="javascript:void(0);" ng-click="setOrder('attorney_name')">
                                        Attorney
                                        <i ng-show="data.sortBy == 'attorney_name' && data.sortOrder == 'desc'" class="fa fa-sort-desc"></i>
                                        <i ng-show="data.sortBy == 'attorney_name' && data.sortOrder == 'asc'" class="fa fa-sort-asc"></i>
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="client in clients">
                                <td ng-class="isNewRecord(client)">{{client.id}}</td>
                                <td>{{client.date_of_referral | date: 'MM-dd-yy'}}</td>
                                <td><a href="#/referrals/{{client.id}}"><strong>{{client.firstname}}</strong></a></td>
                                <td><a href="#/referrals/{{client.id}}"><strong>{{client.lastname}}</strong></a></td>
                                <td>{{client.dob | date: 'MM-dd-yy'}}</td>
                                <td><strong>{{client.clinic_name}}</strong>, {{client.clinic_address1}}, {{client.clinic_city}}</td>
                                <td>{{client.doctor_name}}</td>
                                <td>{{client.appt_date | date: 'MM-dd-yy'}}</td>
                                <td>{{client.attorney_name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="pagination.has_more_pages">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <nav>
                        <ul class="pagination pagination-sm">
                            <li><a ng-click="firstPage()">First</a></li>
                            <li><a ng-click="prevPage()">&larr; Prev</a></li>
                            <li><a ng-click="nextPage()">Next &rarr;</a></li>
                            <li><a ng-click="lastPage()">Last</a></li>
                        </ul>
                    </nav>
                </div>
            </div><!-- end of main content -->
        </div>
    </div>
</div>